body {
    min-height: 100vh;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .9em;
    position: relative;
}
.container {
    display: flex;
    justify-content: space-between;
}
.container-item , ul , li {
    display: flex;
    justify-items: space-between;
    align-items: center;
    margin-right: 10px;
    padding-left: 20px;
}
a {
    text-decoration: none;
    color: black;
    margin: 5px;
}
a:hover {
    text-decoration: underline;
}
img {
    cursor: pointer;
    box-shadow: 0 0 10px 0 lightgray;
    border-radius: 20px;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
    min-height: 100%;
}
h1 {
    font-size: 5.5em;
}
.input-container  {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 38px;
    border: solid gainsboro;
    border-radius: 20px;
}
.input-container:hover {
    box-shadow: 0 0 10px 0 gainsboro;
}
.input-container > input {
    flex-grow: 1;
    border: none;
}
.button-container {
    padding-top: 53px;
}
button {
    background-color: ghostwhite;
    border-radius: 5px;
    border: none;
    height: 36px;
    padding: 0 20px;
    margin: 4px;
}
button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 gainsboro;
}
footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
}
.footer-item , ul , li {
    display: flex;
    justify-items: space-between;
    align-items: center;
    margin: 4px;
    padding: 5px;
}